@media (min-width: 1250px) {

    .font-general {
        font-size: 22px;
    }

    .font-num {
        font-size: 20px;
    }

    .ft {
        font-size: 25px;
    }

    .btn-lg-config {
        width: 160px;
    }

    .w-200 {
        width: 200px;
    }

    .w-100p {
        width: 100%;
    }

    .w-800 {
        width: 800px;
    }

}

@media (max-width: 1249px) {
    .ft {
        font-size: 18px;
    }

    .btn-lg-config {
        width: 100px;
    }
}


.fitting-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selectHidden {
    display: none;
}

.pos-icon {
    margin-left: 40px;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    opacity: 75%;
    color: #FFF;
    position: absolute;
}

.buttonHidden {
    display: block;
}

@media (max-width: 1024px) {
    .selectHidden {
        display: block;
    }

    .buttonHidden {
        display: none;
    }

    .center {
        text-align: center;
        width: 100%;
    }

    @media (orientation: landscape) {
        .h-25 {
            height: 250px;
        }
        .pos-icon {
            margin-left: 45px;
            width: 60px;
            height: 60px;
            opacity: 75%;
            color: #FFF;
            position: absolute;
        }
    }
    
    @media (orientation: portrait) {

        .height-60 {
            height: 600px;
        }

        .pos-icon {
            margin-left: 30px;
            width: 60px;
            height: 60px;
            opacity: 75%;
            color: #FFF;
            position: absolute;
        }
    }
}

    @media (min-width: 1024px) {

    .search-icon {
        margin-bottom: 15px;
    }

}

.mantine-ScrollArea-viewport{
    min-height: 300px;
}

.text-m {
    font-size: 16px;
}

.titulo {
    text-transform: uppercase;
}

.bg-primary-light {
    background: rgb(247, 247, 247);
}

.bg-white-search {
    background-color: #FFFFFF;
}

.grey-css {
    color: #b9b9b9;
}

.action-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Isso coloca o conteúdo em uma coluna */
    justify-content: flex-end;
    /* Isso alinha o conteúdo na parte inferior */
}

.text-xsm {
    font-size: 11px;
}

.w-100 {
    width: 100px;
}

.w-150 {
    width: 150px;
}

.overflow-auto {
    overflow: auto;
}

.rti--container {
    min-height: 140px;
}

.btn-outline-primary-active {
    background-color: #f7f7f7;
}

.h-50 {
    height: 510px;
}

.h-40 {
    height: 40px;
}

.ml-70p{
    margin-left: 70%;
}

.h-70 {
    height: 660px;
}

.h-71 {
    height: 700px;
}

.ht-30{
    height: 40px;
}

.w-100-p{
    width: 100%;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .centered-div {
    text-align: center;
  }
  
  .centered-div img {
    max-width: 100%;
    padding-left: 2%;
    max-height: 100%;
  }

  .w-300 {
    width: 300px;
}