@media (min-width: 1250px) {

    .font-general {
        font-size: 22px;
    }

    .font-num {
        font-size: 20px;
    }

    .ft {
        font-size: 25px;
    }

    .btn-lg-config {
        width: 160px;
    }

}

@media (max-width: 1249px) {
    .ft {
        font-size: 18px;
    }

    .btn-lg-config {
        width: 100px;
    }
}


.text-m {
    font-size: 16px;
}

.titulo {
    text-transform: uppercase;
}

.bg-primary-light {
    background: rgb(247, 247, 247);
}

.bg-white-search {
    background-color: #FFFFFF;
}

.rti--tag {
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 1px 1px #b9b9b9;
    padding: 10px;
}